<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Property Hub - Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/register.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-image:url('/assets/1.jpg')">

    <div class="container">

      <form class="form-signin" role="form" action="register" method="post" enctype="application/json">
        <h2 class="form-signin-heading">User Registration</h2>
        <p class="form-signin-description">Please provide your details</p>
        <input name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <input name="pwd" type="password" class="form-control" placeholder="Password" required>
        <input name="firstname" type="text" class="form-control" placeholder="First Name" required>
        <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>
        <input name="phone" type="tel" class="form-control" placeholder="Phone Number" required>
        <div class="radio">
          <label class="form-signin-radiotext"><input type="radio" name="userRole" id="buyerRadio" value="buyer" checked>Buyer</label>
        </div>
        <div class="radio">
          <label class="form-signin-radiotext"><input type="radio" name="userRole" id="agentRadio" value="agent">Agent</label>
        </div>
        <button class="btn btn-lg btn-primary btn-inline" type="submit">Register</button>
        <button class="btn btn-lg btn-primary btn-inline" type="reset">Reset</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
